<!DOCTYPE html>
{% extends "GSTapp/base.html" %}

{% block content %}

<h1>Master Ledger</h1>
<li>
    Step 1: Download the below template and fill the template
</li>
<br>
<div style="text-align: left;">
    <a href="{% url 'view:download_excel_master_1' %}" download>
        <button>Download Template</button>
    </a>
</div>
<br>
<li>
    Step 2: Upload the filled template file
</li>
<br>

<div style="text-align: left;">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="upload_file_master_ledger">
        <button type="submit">Upload</button>
    </form>
    <br>
    {% if message %}
        <p>The file <b>{{ file_name }}</b> uploaded successfully!</p>
        <a href="{% url 'view:download_xml' %}" download>
            <button>Download XML</button>
        </a>
        <br>
        <br>
        <a href="{% url 'view:download_xml_file' %}" download>
            <button>Download XML</button>
        </a>
        <br>
        <br>
        <a href="{% url 'view:download_xml_excel' %}" download>
            <button>Download Excel</button>
        </a>
    {% endif %}
</div>

{% endblock %}